@font-face {
    font-family: 'poppinsregular';
    src: url('../fonts/poppins-regular-webfont.woff2') format('woff2'),
    url('../fonts/poppins-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    display: block;
}

/*FOOTER !!! */

footer {
    color: #0c3c60;
    background: #d1e0eb;
    font-size: large;
    line-height: normal;
    height: 4%;
    text-align: left;
    bottom:0;
}

h6 {
    margin-left: 2%;
}

.readMore{
    text-decoration: none;
    position: relative;
    left: 0;
    margin: auto;
    text-align: center;
    color: #ffffff;
    line-height: 22px;
    background: #6ea4ca;
    padding: 10px 30px;
    font: small normal open raleway, sans-serif;
    width: fit-content;
}

.white__background{
    background-color: rgba(255, 255, 255, 0.5);
}

.section__about_first{
    margin-top: 20%;
}
#big_title, #up_title, .bibliography{

    height: 20%;

}
#big_title{
    margin-bottom: 40px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.5);
}

.bibliography{
    overflow: auto;
    width: 33.333%;
    height: 50%;
    text-align: center;
    background-color: white;
}

#homeLeft{
    float:left;
}
#homeCenter{
    display: inline-block;
}
#homeRight{
    float:right;
}

.abreviations{
    font-size: xx-large;
    color: #0c3c60;
    margin-bottom: 5%;
    margin-top : 5%;
}

.definitii{
    font-family: raleway, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    stroke-width: 50%;
    align-content: center;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 5%;
}

#indexbody {
    margin: 0;
    /* The image used */
    background-image: url("introducing-web-technologies.jpg");
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#gradebody{
    margin: 0;
    /* The image used */
    background-image: url("silky-blue-background.jpg");
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.bodyContent{
    background-color: #0c3c60;
}

/*HEADER*/

header {
    color: white;
    height: 80px;
    position: fixed;
    top: 0;
    width: 100%;
    background: #0c3c60;
    z-index: 1;
}

h1 {

    font-family: raleway, sans-serif;
    font-size: 25px;
    font-weight: normal;
}

.index__title {
    display: inline-block;
    margin-left: 358px;
    margin-top: 20px;
}

#up_title{
    color: #0c3c60;
    font-size: xx-large;
    height: fit-content;
    position: relative;
    background-color: rgba(255, 255, 255, 0.5);
    padding-top: 2.5%;
}F.

.button__login {
    margin-left: 200px;
    display: inline-block;
    background-color: rgb(254, 97, 97);
    border: transparent;
    width: 130px;
    height: 40px;
    border-radius: 80px;
    font-size: 17px;
    font-weight: bold;
    font-family: lulo-clean-w01-one-bold, sans-serif;
    color: white;
    text-align: center;
}

.courses__page {
    height: 200vh;
    background-color: #3699ec;
    margin: auto;


}

.p-top-60 {
    padding-top: 60px;
    width:100%;
}
.cursSiLaborator{
    text-align: center;
    padding-left: 10%;

}
.courseColoumn{
    height : fit-content;
    display: inline-block;
    width: 600px;
    float: left;
    margin-bottom: 3%;
}

.laboratorColoumn{
    height: 40px;
    display : inline-block;
    width : 300px;
    margin-bottom: 3%;

}

.courseButton {
    font-family: avenir-lt-w01_35-light1475496, sans-serif;
    font-weight: 400;
    line-height: 22px;
    font-style: normal;
    size: 16px;
    color: white;
    background-color: #0c3c60;
    border: transparent;
    width: 140px;
    height: 40px;
    display: inline-block;
    position: relative;
    float: left;
}

.courseName{
    display: inline-block;
    text-align: center;
    padding-top: 10px;

}

.laboratorButton {
    font-family: avenir-lt-w01_35-light1475496, sans-serif;
    font-weight: 400;
    line-height: 22px;
    font-style: normal;
    size: 16px;
    color: white;
    background-color: #0c3c60;
    border: transparent;
    width: 140px;
    height: 40px;
    display: inline-block;
}


/*PAGINA ABOUT US!!!*/

.about__maincontainer {
    height: 120vh;
}

.about__page {

    min-height: 200px;
    padding-top: 60px;

}

.about__title {
    top: 40px;
    width: 100%;
    height: 30%;
    text-align: center;
    color: #3699ec;
    font: 700 45px normal raleway, sans-serif;
    margin: 3% auto;

}
.about__subtitle{
    width: 50%;
    height: 20%;
    text-align: center;
    color: #292929;
    font: italic 30px normal raleway, sans-serif;
    margin: auto auto 10%;

}

.playerPicture {
    height: 125px;
}

.player{
    position: static;
    margin: 0 0 5% 15%;
    width: 400px;
    display: inline-block;
    background-color: #0c3c60;
}

.imgPlayer{
    height: 100%;
    width : 30%;
    display:inline-block;
}

.playerName{
    width: 50%;
    display:inline-block;
    margin: auto;
    text-align: center;
    color: white;
}

.playerJob{
    background-color: white;
    text-align: center;
    font-size: x-large;
    margin: auto;
    padding-top: 5%;
}

.link__header {
    list-style-type: none;
    display: inline;
}

.link__header_prop {
    display: flex;
    flex-direction: row;
    width: 642px;
    justify-content: space-evenly;
}

.list__link {
    font-family: "open sans", sans-serif;
    font-size: 15px;
    color: white;
    text-decoration: none;
}

.content {
    display: inline-block;
    margin-left: 120px;
}

.dropdown {
    display: none;
    position: absolute;
    top: 20px;
    right: 0;
    margin-right: 20px;
}

.dropdown__button {
    background: url("../images/dropdown.png") no-repeat scroll 0 0 ;
    border: none;
    width: 40px;
    height: 40px;
    margin-left: 20px;
    position: absolute;
    right: 0;
}

.dropdown__content {
    display: none;
    background-color: #0c3c60;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.2);
    position: relative;
    top: 60px;
}

.dropdown__link {
    text-align: center;
    background-color: #0c3c60;
    font-family: "open sans", sans-serif;
    font-size: 15px;
    color: white;
    text-decoration: none;
    padding: 20px 10px;
    border-top: groove 1px black;

}

.dropdown:hover .dropdown__content {
    display: block;
}

.dropdown:hover .dropdown__button {
    background-color: #116ea5;
    border-radius: 10px;
}

.dropdown__link:hover {
    background-color: #6ea4ca;

}

@media only screen and (max-width:1000px) {
    /* For tablets: */
    .dropdown {
        display: block;
    }
    .content {
        display: none;
    }
    .button__login {
        position: absolute;
        left: -30px;
        top: 20px;
    }
    .index__title {
        font-size: large;
        margin-top: 30px;
    }

    .courseColoumn{
        display : block;
        margin-bottom: 1%;
    }
    .laboratorColoumn{
        display : block;
        text-align: left;
        margin-bottom: 10%;
    }

    .section__title{
        height:fit-content;
        margin-bottom: 10%;
    }
    .courses__page{
        height: 100vh;
    }
    #readMore {
        margin-top: 5%;
    }
}
@media only screen and (max-width:660px) {
    /* For mobile phones: */

    .dropdown__button {
        background: url("../images/dropdown_phone.png") no-repeat scroll 0 0;
        width: 30px;
        height: 30px;
        top: 5px;
    }

    .button__login {
        width: 100px;
        height: 30px;
        position: absolute;
        left: 0;
        top: 25px;
        margin-left: 10px;
    }
    .index__title {
        font-size: small;
        margin-top: 35px;
        margin-left: 140px;
    }

    #up_title {
        font-size: large;
    }

    #big_title {
        font-size: 40px;
        padding-top: 20px;
    }

    #about_us {
        font-size: 40px;
        padding-top: 20px;
    }

    footer {
        height: 7%;
        font-size: 1em;
    }

    h6 {
        padding-top: 15px;
        font-size: 14px;
    }

    .abreviations {
        font-size: x-large;
    }

    .definitii {
        font-size: 13px;
    }

    .readMore {
        padding: 10px 20px;
        font-size: small;
    }

    #indexPageText {
        overflow: auto;
    }
}




.section__about {
    background: #d1e0eb;
    height: 60vh;
}

.section__bibliography{
    width: 90%;
    text-align: center;
    align-content: center;
    padding-left:5%;
}
.section__title {
    top: 40px;
    margin: auto;
    width: 100%;
    height: 15%;
    text-align: center;
    color: rgb(12, 60, 96);
    line-height: 95px;
    font: 600 30px normal raleway, sans-serif;
    padding: 3% auto auto;
}


#about_us {
    padding-top: 3.5%;
}

.section__text {

    top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 40%;
    text-align: center;
    color: #0c3c60;
    line-height: 21px;
    font: 400 13px normal open sans, sans-serif;
}

.more {
    position: relative;
    top: 40px;
    left: 0;
    margin: auto;

    text-align: center;
    color: #ffffff;
    text-decoration: none;
    line-height: 22px;
    background: #0c3c60;
    padding: 10px 30px;
    font: 16px normal open avenir-lt-w01_35-light1475496, sans-serif;
    width: fit-content;
}

.button__container {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 20%;
    text-align: center;
}





/*PAGINA CONTACT !!!*/


.contact__page {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #0c3c60;
    z-index: -1;

}
.contact_title
{
    position: relative;
    top: 40px;
    width: 100%;
    height: 30%;
    text-align: center;
    color: white;
    font: 700 45px normal raleway, sans-serif;
    margin-top:3%;
}

.contact__map {
    margin-left: 10%;
    width: 700px;
    height: 500px;
}

.contact__paragraph{
    width: 350px;
    top: 0;
    font-size: large;
    color: #ffffff;
}

.formAndParagraph {
    font-size: larger;
    width: 700px;
    height: 500px;
    margin-left: 10%;

}

.contact__textstyle {
    font-family: raleway, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: white;
    text-align: center;
    margin-left: 54%;
    margin-top: -26%;
    width: 22%;
}

.contact__positionsend {
    margin-left: 55%;
    margin-top: -22%;
}
.contact_textstyleSend {
    font-family: "open sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: #0a3942;
    width: 350px;
    height: 30px;
}

.contact_textstyleSendbutton {
    font-family: "open sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: #0a3942;
    width: 60px;
    height: 30px;

}
.contact__inputposition1 {
    margin-top: -25px;
}
.contact__inputposition2 {
    margin-top: -25px;
}
.contact__inputposition3 {
    margin-top: -25px;
    height: 110px;
    resize: none;
}
.contact__inputposition4 {
    margin-top: -25px;
}

/* MANAGE STUDENT*/

.section__manage__student {
    margin: 50px auto 30px;
    width: 600px;
}

head {
    display: none;
}

.student__name__container {
    text-align: center;
}

.grades__container {
    padding: 10px;
}

.grades__container, .presence__container{
    border: 1px black solid;
    margin: 20px auto auto;
    height:auto;
}

.grades__list {
    padding: 0;
}

.grade__item {
    list-style-type: none;
    text-align: center;
    position: relative;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0;
    border: 1px solid black;
}

.grade__item:hover {
    background-color: #d4d4d4;
}

.grade__value {
    text-align: left;
}

.grade__date {
    text-align: right;
}

.value__and__date__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bonus__dropdown__container {
    margin-top: 10px;
    text-align: left;
    border-radius: 10px;
    padding: 10px;
    background-color: #f4eddd;
    display: none;
}

.button__show__bonus {
    border: none;
    transition: all 0.3s;
    background-color: #00afd4;
    border-radius: 20px;
    padding: 5px;
    cursor: pointer;
    color: white;
}

.button__show__bonus:hover {
    background-color: black;
}

.button__show__bonus:focus {
    outline: none;
    background-color: black;
}

.add__data__container {
    margin-top: 20px;
}

.add__list {
    display: flex;
    justify-content: space-around;
}

.add__dropdown__icon {
    border: none;
    transition: all 0.3s;
    background-color: #00afd4;
    border-radius: 20px;
    padding: 20px;
    height: 100%;
    cursor: pointer;
    color: white;
}

.add__dropdown__icon:focus {
    outline: none;
    background-color: black;
}

.add__dropdown__icon:hover {
    background-color: black;
}

.add__content__container {
    margin: 20px auto auto;
    width: 50%;
}

.insert__container {
    position: relative;
    margin: 10px 0;
}

.insert__date__label {
    position: absolute;
    left: -50px;
}

.add__day, .add__month, .add__year {
    width: 100%;
    margin: 0;
}

.button__submit {
    margin: auto;
    background-color: rgb(254, 97, 97);
    border: transparent;
    width: 130px;
    height: 40px;
    border-radius: 80px;
    font-size: 17px;
    font-weight: bold;
    font-family: lulo-clean-w01-one-bold, sans-serif;
    color: white;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s;
}
.label_loading{
    margin: auto;
    background-color: rgb(254, 97, 97);
    width: 130px;
    height: 40px;
    font-size: 17px;
    font-weight: bold;
    font-family: lulo-clean-w01-one-bold, sans-serif;
    color: white;
    text-align: center;
}
#calculateButton {
    background-color: #0c3c60;
}

#calculateButton:hover {
    background-color: #00b3ff;
    color: #0c3c60;
}

.button__submit:hover {
    background-color: black;
}

.button__submit:focus {
    outline: none;
}

/*GRADE HIDDEN CONTENT*/
.add__grade__container {
    display: none;
}

/*PRESENCE HIDDEN CONTENT*/
.add__presence__container {
    display: none;
}

/*BONUS HIDDEN CONTENT*/
.add__bonus__container {
    display: none;
}

.add__bonus__container {
    height: 300px;
    width: 100%;
}

.bonus__description {
    height: 100%;
    width: 100%;
}

#bonusButton {
    margin-top: 10px;
    margin-bottom: 10px;
}

.grades__dropdown__list {
    display: flex;
    justify-content: space-around;
}

.grade__dropdown__item {
    border: 1px solid black;
    padding: 0 5px;
    cursor: pointer;
}

.grade__dropdown__item:hover {
    background-color: #6ea4ca;
}

/*  SEARCH CONTAINER  */

.search__container {
    position: relative;
    height: 150px;
    width: 400px;
    margin: 100px auto auto;
    display: block;
}

.search__line__container {
    position: relative;
}

.search__field {
    height: 30px;
    color: #555555;
    font: 15px normal poppinsregular sans-serif ;
    font-family: 'poppinsregular', serif;
    font-weight: 500;
    border: none;
    border-bottom: 1px solid #b0b0b0;
    padding: 10px 10px 10px 5px;
    transition: 0.3s all;
    width: 50%;
    margin: auto auto 10px;
}

.search__field:hover {
    border-color: #57b846;
}

.search__field:focus {
    outline: none;
    border-color: #57b846;
}

#searchButton {
    margin-top: 30px;
}

.search__label {
    position: absolute;
    left: -120px;
    top: 8px;
    font: 15px raleway sans-serif normal ;
    font-family: "poppinsregular", serif;
    font-weight: 900;
    text-align: right;
    width: 200px;
}

.search__label_loading {
    position: absolute;
    left: 40px;
    top: 10px;
    font: 15px raleway sans-serif normal ;
    font-family: "poppinsregular", serif;
    font-weight: 900;
    text-align: right;
    width: 200px;
}

/*   Grades and Statistics */

/* Progress Circle Code - BEGIN*/

#counter{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 9;
}

#circle1{
    height: 370px;
    width: 370px;
    background-color:#FFFFFF;
    border-radius: 50%;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
}

#shadowring{
    height: 370px;
    width: 370px;
    border-radius: 50%;
    box-shadow: 0 0 6px rgba(0,0,0,.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 99;
}

#circle2{
    height: 370px;
    width: 370px;
    background-color:#BBD9DB;
    border-radius: 50%;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
}

.progress__circle__container {
    position: relative;
    width: 360px;
    height: 360px;
    margin: 30px auto auto;
    z-index: -1;
}
/* Progress Circle Code - END */

/* Share buttons BEGIN */

.share__buttons {
    margin: auto;
    width: 50%;
    display: flex;
    justify-content: center;
    align-content: space-between;
}

.share__button {
    margin: 10px;
    width: 100px;
    height: 30px;
    border: none;
}

.image__share__button {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

#twitter {
    content:url("../images/shareTweet.jpg")
}

#facebook {
    content:url("../images/shareFB.jpg")
}


/* Share buttons END */

.suggestion__container {
    width:600px;
    margin: 30px auto auto;
}

.suggestion__title {
    color: #555555;
    font: 30px normal poppinsregular sans-serif ;
    font-family: 'poppinsregular', serif;
    font-weight: 900;
    text-align: center;
}

.suggestion__content {
    width: 500px;
    margin: 30px auto;
    background-color: #f4eddd;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
}

.suggestion__message {
    padding: 10px;
}