@font-face {
    font-family: 'poppinsregular';
    src: url('../fonts/poppins-regular-webfont.woff2') format('woff2'),
         url('../fonts/poppins-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

#overlay {
    width: 100%;
    height: 30%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(54,84,99,0.7);
}

body {
    background: #ebeeef;
    height: 100vh;
    display: flex;
}

.login__container {
    margin: auto;
    position: relative;
    overflow: hidden;
    width: 670px;
    height: 556px;
    border-radius: 25px;
    background-color: white;
}

.login__picture {
    background-image: url("../MVC/public_html/images/loginPicture.jpg");
    height: 100%;
    opacity: 0.4;
}

.form__container {
    position: relative;
    height: 70%;
    width: 60%;
    margin: 30px 35px 0 200px;
    padding-top: 30px;
}

.label__container {
    position: absolute;
    left: -100px;
    text-align: right;
    display: inline-block;
    padding-bottom: 10px;
}

.field__container {
    display: inline-block;
    right: 0;
    width: 100%;
}

.form__line__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.username__input {
    width: 100%;
    outline: none;
    border: none;
    border-bottom: solid 1px #9ba8ae;
    padding-bottom: 10px;
}

::placeholder {
    color: #b3a6a9;
    font-size: 15px;
    line-height: 18px;
}

.password__input {
    width: 100%;
    outline: none;
    border: none;
    border-bottom: solid 1px #9ba8ae;
    padding-bottom: 10px;
}

.username__input {
    border-color: #9ba8ae;
}

.username__input:focus {
    border-color: #57b846;
}

.password__input {
    border-color: #9ba8ae;
}

.password__input:focus {
    border-color: #57b846;
}

.remember__me__container {
    display: inline-block;
}

.field__label {
    color: #555555;
    font: 15px normal poppinsregular sans-serif ;
    font-family: 'poppinsregular', serif;
    font-weight: 500;
}

.remember__me__label {
    font: 13px normal poppinsregular sans-serif ;
    font-family: 'poppinsregular', serif;
    font-weight: 500;
    color: #b3a6a9;
    /*cursor: pointer;*/
}



.forgot__password__container {
    display: inline-block;
}

.checkboxes__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top:15px;
    margin-top: 20px;
}

.forgot__password__link {
    text-decoration: none;
    color: #b3a6a9;
    font: 14px sans-serif;
    font-family: 'poppinsregular', serif;
    transition: all 0.3s;
}

.forgot__password__link:hover {
    color: #57b846;
}

.login__button {
    font-family: 'poppinsregular', serif;
    font-weight: 400;
    line-height: 19px;
    font-style: normal;
    size: 16px;
    color: white;
    background-color: #00afd4;
    border: transparent;
    width: 150px;
    height: 50px;
    display: inline-block;
    position: relative;
    float: left;
    border-radius: 30px;
    transition: all 0.3s ;
    cursor: pointer;
}

.login__button:hover {
    background-color: black;
}

@media only screen and (max-width:600px) {
    .form__container {
        margin-left: 120px;
        width: 75%;
    }
}

@media only screen and (max-width:530px) {
    .form__container {
        margin: 0 20px;
    }

    .label__container {
        left: 0;
        top: 0;
    }

    .field__container {
        margin-top: 30px;
    }
}

@media only screen and (max-width: 325px) {
    .login__button {
        width: 100px;
    }

    .forgot__password__container {
        margin-right: -35px;
    }
}