* {
    margin: 0;
    padding: 0;
    display: block;
}
.readMore{
    text-decoration: none;

    position: relative;

    left: 0;
    margin: auto;

    text-align: center;
    color: #ffffff;

    line-height: 22px;
    background: #6ea4ca;
    padding: 10px 30px;
    font: xx-large normal open raleway, sans-serif;
    width: fit-content;
}


.section__about_first{
    margin-top: 40%;
}
#big_title, #up_title, .bibliography{

    height: 20%;

}
#big_title{
    margin-bottom: 40px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.5);
}

.bibliography{
    overflow: auto;
    width: 33.333%;
    height: 50%;
    text-align: center;
    background-color: white;
}

#left{
    float:left;
}
#center{
    display: inline-block;
}
#right{
    float:right;
}

.abreviations{
    font-size: xx-large;
    color: #0c3c60;
    margin-bottom: 5%;
}

.definitii{
    font-family: raleway, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    stroke-width: 50%;
    align-content: center;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 5%;
}

#indexbody {
    margin: 0;
    /* The image used */
    background-image: url("introducing-web-technologies.jpg");
    /* Full height */
    height: 100%;
    width: 100%;

    /* Center and scale the image nicely */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header {
    color: white;
    height: 80px;
    position: fixed;
    top: 0;
    width: 100%;
    background: #0c3c60;
    z-index: 1;
}

h1 {

    font-family: raleway, sans-serif;
    font-size: 25px;
    font-weight: normal;

}

.index__title {
    display: inline-block;
    margin-left: 358px;
    margin-top: 20px;

}

#up_title{
    color: #0c3c60;
    font-size: xx-large;
    height: fit-content;
    position: relative;
    background-color: rgba(255, 255, 255, 0.5);
    padding-top: 2.5%;
 }

.button__login {
    margin-left: 200px;
    display: inline-block;
    background-color: rgb(254, 97, 97);
    border: transparent;
    width: 130px;
    height: 40px;
    border-radius: 80px;
    font-size: 17px;
    font-weight: bold;
    font-family: lulo-clean-w01-one-bold, sans-serif;
    color: white;
    text-align: center;
}

.courses__page {
    height: 70vh;
    background-color: #3699ec;
    margin-left: 25%;
    margin-right: 25%;
}

.p-top-60 {
    padding-top: 60px;
}

.courses__textbuttons1 {
    font-family: avenir-lt-w01_35-light1475496, sans-serif;
    font-weight: 400;
    line-height: 22px;
    font-style: normal;
    size: 16px;
    color: white;
    background-color: #0c3c60;
    border: transparent;
    width: 140px;
    height: 40px;
    display: inline-block;
    margin: 20px 20px;

}

.courses__textbuttons2 {
    font-family: avenir-lt-w01_35-light1475496, sans-serif;
    font-weight: 400;
    line-height: 22px;
    font-style: normal;
    size: 16px;
    color: white;
    background-color: #0c3c60;
    border: transparent;
    width: 140px;
    height: 40px;
    display: inline-block;
    margin: 20px 150px;
    float: right;

}

.courses__textinfo {
    font-family: helvetica-w01-light, helvetica-w02-light, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #292929;
    display: inline;
    margin: 0;
}

.about__maincontainer {
    height: 120vh;
}

.about__page {

    min-height: 200px;
    padding-top: 60px;

}

.about__title {
    font-family: raleway, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 84px;
    color: #6ea4ca;
    display: block;
    margin: 40px 0 0 0;
    text-align: center;

}

.about__title:after {
    display: block;
    content: "__";
    width: 100%;
    text-align: center;
    position: relative;
    z-index: -10;
    margin: -70px 0 0 0;

}

.link__header {

    list-style-type: none;
    display: inline;

}

.link__header_prop {
    display: flex;
    flex-direction: row;
    width: 642px;
    justify-content: space-evenly;
}

.list__link {
    font-family: "open sans", sans-serif;
    font-size: 15px;
    color: white;
    text-decoration: none;

}


.content {

    display: inline-block;
    margin-left: 120px;
}

.section__about {
    background: #d1e0eb;
    height: 60vh;
}

.section__title {
    top: 40px;
    margin: auto;
    width: 100%;
    height: 30%;
    padding: auto auto;
    text-align: center;
    color: rgb(12, 60, 96);
    line-height: 95px;
    font: 700 79px normal raleway, sans-serif;
}

#about_us {
    padding-top: 3.5%;
}

.section__text {

    top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 40%;
    text-align: center;
    color: #0c3c60;
    line-height: 21px;
    font: 400 14px normal open sans, sans-serif;
}

.more {
    position: relative;
    top: 40px;
    left: 0;
    margin: auto;
    
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    line-height: 22px;
    background: #0c3c60;
    padding: 10px 30px;
    font: 16px normal open avenir-lt-w01_35-light1475496, sans-serif;
    width: fit-content;
}

.button__container {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 20%;
    text-align: center;
}

footer {
    color: #0c3c60;
    background: #d1e0eb;
    font-size: xx-large;
    line-height: normal;
    height: 4%;
    text-align: left;
}

h6 {
    margin-left: 2%;
}

.player__square {
    margin-left: 18%;
    margin-top: 7%;
    height: 120px;
    width: 430px;
    background-color: #0c3c60;
    display: inline-block;
    z-index: -1;
    margin-bottom: 0;

}

.player__textstyle {
    font-family: raleway, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: white;
    text-align: center;
    margin-top: -75px;
    margin-left: 30px;

}

.player1_margins {

    margin-left: 22%;
}

.player2_margins {
    margin-left: 10%;
}

.player3_margins {
    margin-left: 22%;
    margin-top: 1%;
}

.player4_margins {
    margin-left: 10%;
    margin-top: 0;
}

.about_paragraph {
    font-family: "open sans", sans-serif;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    font-size: 16px;
    color: #39729b;
    width: 30%;
    margin-left: 22%;
    margin-top: 3%;

}

.about_paragraph_1 {
    margin-left: 35%;
}

.about_paragraph_2 {
    margin-left: 18%;
    margin-top: 1%;
}

.about_paragraph_3 {
    margin-top: -5%;
    margin-left: 50%;
}

.about_paragraph_4 {
    margin-left: 18%;
    margin-top: 1%;
}

.about_paragraph_5 {
    margin-top: -5%;
    margin-left: 50%;
}

.contact__page {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #0c3c60;
    z-index: -1;

}
.contact_title
{
    position: relative;
    top: 40px;
    margin: auto;
    width: 100%;
    height: 30%;
    padding: auto auto;
    text-align: center;
    color: white;
    line-height: 95px;
    font: 700 79px normal raleway, sans-serif;
}
.contact__map
{

    margin-left: 15%;
    width: 700px;
    height: 500px;

}
.contact__paragraph
{

    margin-left: 49%;
    margin-top: -24%;
    width: 18%;
    text-align: center;
}

.contact__textstyle
{
    font-family: raleway, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: white;
    text-align: center;
    margin-left: 54%;
    margin-top: -26%;
    width: 22%;
}

.contact__positionsend
{
    margin-left: 55%;
    margin-top: -22%;
}
.contact_textstyleSend
{
    font-family: "open sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #0a3942;
    width: 350px;
    height: 30px;
}

.contact_textstyleSendbutton
{
    font-family: "open sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #0a3942;
    width: 60px;
    height: 30px;

}
.contact__inputposition1
{
    margin-top: -25px;
}
.contact__inputposition2
{
    margin-top: -25px;
}
.contact__inputposition3
{
    margin-top: -25px;
    height: 110px;
    resize: none;


}
.contact__inputposition4
{
    margin-top: -25px;

}

.GradesStatistics__SquarePromovabilitate
{
    margin-left: 25%;
    margin-top: 7%;
    height: 260px;
    width: 400px;
    background-color: #0c3c60;
    display: inline-block;
    z-index: -1;
    margin-bottom: 0;
}
.GradesStatistics__textStyle1
{
    font-family: raleway, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: white;
    text-align: center;
    margin-top: 10%;
    margin-left: -1%;

}
.GradesStatistics__SquareLinkStatistics
{

    margin-left: 50%;
    margin-top: 7%;
    height: 260px;
    width: 400px;
    background-color: #0c3c60;
    display: inline-block;
    z-index: -1;
    margin-bottom: 0;
}
.GradesStatistics__textStyle2
{

    font-family: raleway, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: white;
    text-align: center;
    margin-top: 10%;
    margin-left: -1%;
}



