

body {
    margin: 0;
    /* The image used */
    background-image: url("introducing-web-technologies.jpg");
    /* Full height */
    height: 100%;
    width : 100%;
    z-index: 1;

    /* Center and scale the image nicely */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header {
    color: white;
    height : 80px;
    position : fixed;
    width : 100%;
    background: #0c3c60;

}
h1{
    margin-right: 50%;
    font-family: raleway, sans-serif;
    font-weight : bolder;
    font-size: 25px;
    font-weight: normal;
    margin-left : 20%;
    position: relative;
}

#up_title{
    text-align: center;
    width: 100%;
    bottom: -100%;
    height: 0%;
    color : blue;

}
.delimitator{
    height: 50%;
}


button {

    background-color: rgb(254, 97, 97);
    border: double 4px transparent;
    width: 130px;
    height: 40px;
    border-radius: 80px;
    font-size: 17px;
    font-weight: bold;
    font-family: lulo-clean-w01-one-bold, sans-serif;
    color : white;
    text-align: center;
    margin-left : 50%;
    top:20%;
    position: absolute;

}

a{
    font-family: "open sans", sans-serif;
    font-size: 13px;
    color:white;
    line-height: 23px;

}


.content{
    margin-left : 40%;

}

.section__about {
    background: #d1e0eb;
    height: 60vh;
}

.section__title {
    position: relative;
    top: 40px;
    margin: auto;
    width: 100%;
    height: 30%;
    padding: auto auto;
    text-align: center;
    color: rgb(12, 60, 96);
    line-height: 95px;
    font: 700 79px normal raleway, sans-serif;
}

.section__text {
    position: relative;
    top: 40px;
    margin-left : auto;
    margin-right: auto;
    width: 100%;
    height: 40%;
    text-align: center;
    color: #0c3c60;
    line-height: 21px;
    font: 400 14px normal open sans, sans-serif;
}
.more {
    position: relative;
    top: 40px;
    margin:auto;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    line-height: 22px;
    background: #0c3c60;
    padding: 10px 30px;
    font: 16px normal open avenir-lt-w01_35-light1475496, sans-serif;
}

.button__container {
    margin-left : auto;
    margin-right: auto;
    width: 50%;
    height: 20%;
    text-align: center;
}

footer{
    color : white;
    background: #0c3c60;
    font-size: xx-large;
    line-height: normal;
    height: 3%;
    border-radius: 80px;
    text-align: left;
}
h6{
    margin-left: 5%;
}
