
* {
    margin: 0;
    padding: 0;
    display: block;
}

/*FOOTER !!! */

footer {
    color: #0c3c60;
    background: #d1e0eb;
    font-size: xx-large;
    line-height: normal;
    height: 4%;
    text-align: left;
    bottom:0;
}

h6 {
    margin-left: 2%;
}


.readMore{
    text-decoration: none;

    position: relative;

    left: 0;
    margin: auto;

    text-align: center;
    color: #ffffff;

    line-height: 22px;
    background: #6ea4ca;
    padding: 10px 30px;
    font: xx-large normal open raleway, sans-serif;
    width: fit-content;
}


.section__about_first{
    margin-top: 40%;
}
#big_title, #up_title, .bibliography{

    height: 20%;

}
#big_title{
    margin-bottom: 40px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.5);
}

.bibliography{
    overflow: auto;
    width: 33.333%;
    height: 50%;
    text-align: center;
    background-color: white;
}

#homeLeft{
    float:left;
}
#homeCenter{
    display: inline-block;
}
#homeRight{
    float:right;
}

.abreviations{
    font-size: xx-large;
    color: #0c3c60;
    margin-bottom: 5%;
    margin-top : 5%;
}

.definitii{
    font-family: raleway, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    stroke-width: 50%;
    align-content: center;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 5%;
}

#indexbody {
    margin: 0;
    /* The image used */
    background-image: url("introducing-web-technologies.jpg");
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.bodyContent{
    background-color: #0c3c60;
}

header {
    color: white;
    height: 80px;
    position: fixed;
    top: 0;
    width: 100%;
    background: #0c3c60;
    z-index: 1;
}

h1 {

    font-family: raleway, sans-serif;
    font-size: 25px;
    font-weight: normal;

}

.index__title {
    display: inline-block;
    margin-left: 358px;
    margin-top: 20px;

}

#up_title{
    color: #0c3c60;
    font-size: xx-large;
    height: fit-content;
    position: relative;
    background-color: rgba(255, 255, 255, 0.5);
    padding-top: 2.5%;
 }

.button__login {
    margin-left: 200px;
    display: inline-block;
    background-color: rgb(254, 97, 97);
    border: transparent;
    width: 130px;
    height: 40px;
    border-radius: 80px;
    font-size: 17px;
    font-weight: bold;
    font-family: lulo-clean-w01-one-bold, sans-serif;
    color: white;
    text-align: center;
}

.courses__page {
    height: 100vh;
    background-color: #3699ec;
    margin: auto;
}

.p-top-60 {
    padding-top: 60px;
    width:100%;
}
.cursSiLaborator{
    text-align: center;
    padding-left: 10%;

}
.courseColoumn{
    height : fit-content;
    display: inline-block;
    width: 600px;
    float: left;
    margin-bottom: 3%;
}

.laboratorColoumn{
    height: 40px;
    display : inline-block;
    width : 300px;
    margin-bottom: 3%;

}

.courseButton {
    font-family: avenir-lt-w01_35-light1475496, sans-serif;
    font-weight: 400;
    line-height: 22px;
    font-style: normal;
    size: 16px;
    color: white;
    background-color: #0c3c60;
    border: transparent;
    width: 140px;
    height: 40px;
    display: inline-block;
    position: relative;
    float: left;
}

.courseName{
    display: inline-block;
    text-align: center;
    padding-top: 10px;

}

.laboratorButton {
    font-family: avenir-lt-w01_35-light1475496, sans-serif;
    font-weight: 400;
    line-height: 22px;
    font-style: normal;
    size: 16px;
    color: white;
    background-color: #0c3c60;
    border: transparent;
    width: 140px;
    height: 40px;
    display: inline-block;
}


/*PAGINA ABOUT US!!!*/

.about__maincontainer {
    height: 120vh;
}

.about__page {

    min-height: 200px;
    padding-top: 60px;

}

.about__title {
    top: 40px;
    width: 100%;
    height: 30%;
    text-align: center;
    color: #3699ec;
    font: 700 79px normal raleway, sans-serif;
    margin: auto;
    margin-top:3%;
    margin-bottom: 3%;

}
.about__subtitle{
    margin:auto;
    width: 50%;
    height: 20%;
    text-align: center;
    color: #292929;
    font: italic 30px normal raleway, sans-serif;
    margin-bottom: 10%;

}

.player{
    position: static;
    margin-top: 0;
    margin-bottom: 5%;
    margin-left: 15%;
    margin-right: 0;
    width: 400px;
    display: inline-block;
    background-color: #0c3c60;
}

.imgPlayer{
    height: 30%;
    width : 30%;
    display:inline-block;
}

.playerName{
    width: 50%;
    display:inline-block;
    margin: auto;
    text-align: center;
    color: white;
}

.playerJob{
    background-color: white;
    text-align: center;
    font-size: x-large;
    margin: auto;
    padding-top: 5%;

}

.link__header {

    list-style-type: none;
    display: inline;

}

.link__header_prop {
    display: flex;
    flex-direction: row;
    width: 642px;
    justify-content: space-evenly;
}

.list__link {
    font-family: "open sans", sans-serif;
    font-size: 15px;
    color: white;
    text-decoration: none;

}


.content {
    display: inline-block;
    margin-left: 120px;
}

.content {
    display: inline-block;
}



.dropdown {
    display: none;
    position: absolute;
    top: 20px;
    right: 0;
    margin-right: 20px;
}

.dropdown__button {
    background: url("../images/dropdown.png") no-repeat scroll 0 0 ;
    border: none;
    width: 40px;
    height: 40px;
    margin-left: 20px;
    position: absolute;
    right: 0;
}

.dropdown__content {
    display: none;

    background-color: #0c3c60;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.2);
    position: relative;
    top: 60px;
}

.dropdown__link {
    text-align: center;
    background-color: #0c3c60;
    font-family: "open sans", sans-serif;
    font-size: 15px;
    color: white;
    text-decoration: none;
    padding: 20px 10px;
    border-top: groove 1px black;

}

.dropdown:hover .dropdown__content {
    display: block;
}

.dropdown:hover .dropdown__button {
    background-color: #116ea5;
    border-radius: 10px;
}

.dropdown__link:hover {
    background-color: #6ea4ca;

}

@media only screen and (max-width:1000px) {
    /* For tablets: */
    .dropdown {
        display: block;
    }
    .content {
        display: none;
    }
    .button__login {
        position: absolute;
        left: -30px;
        top: 20px;
    }
    .index__title {
        font-size: large;
        margin-top: 30px;
    }

    .courseColoumn{
        display : block;
        margin-bottom: 1%;
    }
    .laboratorColoumn{
        display : block;
        text-align: left;
        margin-bottom: 10%;
    }

    .section__title{
        height:fit-content;
        margin-bottom: 10%;
    }
    .courses__page{
        height: 100vh;
    }
}
@media only screen and (max-width:660px) {
    /* For mobile phones: */

    .dropdown__button {
        background: url("../images/dropdown_phone.png") no-repeat scroll 0 0;
        width: 30px;
        height: 30px;
        top: 5px;
    }

    .button__login {
        width: 100px;
        height: 30px;
        position: absolute;
        left: 0;
        top: 25px;
        margin-left: 10px;
    }
    .index__title {
        font-size: small;
        margin-top: 35px;
        margin-left: 140px;
    }

    #up_title {
        font-size: large;
    }

    #big_title {
        font-size: 40px;
        padding-top: 20px;
    }

    #about_us {
        font-size: 40px;
        padding-top: 20px;
    }

    footer {
        height: 7%;
        font-size: 1em;
    }

    h6 {
        padding-top: 15px;
        font-size: 14px;
    }

    .abreviations {
        font-size: x-large;
    }

    .definitii {
        font-size: 13px;
    }

    .readMore {
        padding: 10px 20px;
        font-size: small;
    }
}




.section__about {
    background: #d1e0eb;
    height: 60vh;
}

.section__title {
    top: 40px;
    margin: auto;
    width: 100%;
    height: 30%;
    padding: auto auto;
    text-align: center;
    color: rgb(12, 60, 96);
    line-height: 95px;
    font: 600 65px normal raleway, sans-serif;
    padding-top: 3%;
}

#about_us {
    padding-top: 3.5%;
}

.section__text {

    top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 40%;
    text-align: center;
    color: #0c3c60;
    line-height: 21px;
    font: 400 14px normal open sans, sans-serif;
}

.more {
    position: relative;
    top: 40px;
    left: 0;
    margin: auto;
    
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    line-height: 22px;
    background: #0c3c60;
    padding: 10px 30px;
    font: 16px normal open avenir-lt-w01_35-light1475496, sans-serif;
    width: fit-content;
}

.button__container {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 20%;
    text-align: center;
}





/*PAGINA CONTACT !!!*/


.contact__page {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #0c3c60;
    z-index: -1;

}
.contact_title
{
    position: relative;
    top: 40px;
    width: 100%;
    height: 30%;
    text-align: center;
    color: white;
    font: 700 79px normal raleway, sans-serif;
    margin-top:3%;
}

.contact__map {
    margin-left: 10%;
    width: 700px;
    height: 500px;
}

.contact__paragraph{
    width: 350px;
    top: 0;
    font-size: x-large;
    color: #ffffff;
}

.formAndParagraph {
    font-size: larger;
    width: 700px;
    height: 500px;
    margin-left: 10%;

}

.contact__textstyle {
    font-family: raleway, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: white;
    text-align: center;
    margin-left: 54%;
    margin-top: -26%;
    width: 22%;
}

.contact__positionsend {
    margin-left: 55%;
    margin-top: -22%;
}
.contact_textstyleSend {
    font-family: "open sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: #0a3942;
    width: 350px;
    height: 30px;
}

.contact_textstyleSendbutton {
    font-family: "open sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: #0a3942;
    width: 60px;
    height: 30px;

}
.contact__inputposition1 {
    margin-top: -25px;
}
.contact__inputposition2 {
    margin-top: -25px;
}
.contact__inputposition3 {
    margin-top: -25px;
    height: 110px;
    resize: none;
}
.contact__inputposition4 {
    margin-top: -25px;
}

.GradesStatistics__SquarePromovabilitate {
    margin-left: 25%;
    margin-top: 7%;
    height: 260px;
    width: 400px;
    background-color: #0c3c60;
    display: inline-block;
    z-index: -1;
    margin-bottom: 0;
}
.GradesStatistics__textStyle1 {
    font-family: raleway, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: white;
    text-align: center;
    margin-top: 10%;
    margin-left: -1%;
}
.GradesStatistics__SquareLinkStatistics {
    margin-left: 50%;
    margin-top: 7%;
    height: 260px;
    width: 400px;
    background-color: #0c3c60;
    display: inline-block;
    z-index: -1;
    margin-bottom: 0;
}
.GradesStatistics__textStyle2 {
    font-family: raleway, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: white;
    text-align: center;
    margin-top: 10%;
    margin-left: -1%;
}



